<html>
<head>
<title>activity_maps.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.ln { color: rgb(0,0,0); font-weight: normal; font-style: normal; }
.s0 { color: rgb(0,0,0); font-style: italic; }
.s1 { color: rgb(0,0,255); font-weight: bold; }
.s2 { color: rgb(0,0,0); }
.s3 { color: rgb(0,128,0); font-weight: bold; }
.s4 { color: rgb(0,0,128); font-weight: bold; }
</style>
</head>
<BODY BGCOLOR="#ffffff">
<TABLE CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#C0C0C0" >
<TR><TD><CENTER>
<FONT FACE="Arial, Helvetica" COLOR="#000000">
activity_maps.xml</FONT>
</center></TD></TR></TABLE>
<pre>
<span class="s0">&lt;?</span><span class="s1">xml version=</span><span class="s3">&quot;1.0&quot; </span><span class="s1">encoding=</span><span class="s3">&quot;utf-8&quot;</span><span class="s0">?&gt;</span><span class="s2"> 
&lt;</span><span class="s4">RelativeLayout </span><span class="s1">xmlns:android=</span><span class="s3">&quot;http://schemas.android.com/apk/res/android&quot;</span><span class="s2"> 
</span><span class="s1">xmlns:app=</span><span class="s3">&quot;http://schemas.android.com/apk/res-auto&quot;</span><span class="s2"> 
</span><span class="s1">xmlns:tools=</span><span class="s3">&quot;http://schemas.android.com/tools&quot;</span><span class="s2"> 
</span><span class="s1">android:id=</span><span class="s3">&quot;@+id/activity_main&quot;</span><span class="s2"> 
</span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
</span><span class="s1">android:layout_height=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
</span><span class="s1">tools:context=</span><span class="s3">&quot;hifive.hifive.MainActivity&quot;</span><span class="s2">&gt; 
 
    &lt;</span><span class="s4">fragment </span><span class="s1">xmlns:android=</span><span class="s3">&quot;http://schemas.android.com/apk/res/android&quot;</span><span class="s2"> 
        </span><span class="s1">xmlns:map=</span><span class="s3">&quot;http://schemas.android.com/apk/res-auto&quot;</span><span class="s2"> 
        </span><span class="s1">xmlns:tools=</span><span class="s3">&quot;http://schemas.android.com/tools&quot;</span><span class="s2"> 
        </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/map_main&quot;</span><span class="s2"> 
        </span><span class="s1">android:name=</span><span class="s3">&quot;com.google.android.gms.maps.SupportMapFragment&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
        </span><span class="s1">tools:context=</span><span class="s3">&quot;hifive.hifive.MapsActivity&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_below=</span><span class="s3">&quot;@+id/credits_main&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_above=</span><span class="s3">&quot;@+id/button5&quot; </span><span class="s2">/&gt; 
 
&lt;</span><span class="s4">TextView</span><span class="s2"> 
    </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
    </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
    </span><span class="s1">android:text=</span><span class="s3">&quot;Welcome to HiFive!&quot;</span><span class="s2"> 
    </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/textView&quot;</span><span class="s2"> 
    </span><span class="s1">android:textAppearance=</span><span class="s3">&quot;@android:style/TextAppearance.Material.Large&quot; </span><span class="s2">/&gt; 
 
    &lt;</span><span class="s4">Button</span><span class="s2"> 
    </span><span class="s1">android:text=</span><span class="s3">&quot;@string/start_project_button_label&quot;</span><span class="s2"> 
    </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
    </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
    </span><span class="s1">android:layout_alignTop=</span><span class="s3">&quot;@+id/main_to_profile_button&quot;</span><span class="s2"> 
    </span><span class="s1">android:layout_alignParentEnd=</span><span class="s3">&quot;true&quot;</span><span class="s2"> 
    </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/start_project_button_main&quot;</span><span class="s2"> 
    </span><span class="s1">android:onClick=</span><span class="s3">&quot;goToCreateProject&quot;</span><span class="s2"> 
        </span><span class="s1">android:fontFamily=</span><span class="s3">&quot;sans-serif-medium&quot; </span><span class="s2">/&gt; 
 
    &lt;</span><span class="s4">TextView</span><span class="s2"> 
        </span><span class="s1">android:text=</span><span class="s3">&quot;TextView&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
        </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/credits_main&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_below=</span><span class="s3">&quot;@+id/textView&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_alignParentStart=</span><span class="s3">&quot;true&quot;</span><span class="s2"> 
        </span><span class="s1">android:textAppearance=</span><span class="s3">&quot;@android:style/TextAppearance.Material.Large&quot; </span><span class="s2">/&gt; 
 
    &lt;</span><span class="s4">Button</span><span class="s2"> 
        </span><span class="s1">android:text=</span><span class="s3">&quot;@string/find_project_button_label&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
        </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/button5&quot;</span><span class="s2"> 
        </span><span class="s1">android:onClick=</span><span class="s3">&quot;goToFindProject&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_alignParentBottom=</span><span class="s3">&quot;true&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_toStartOf=</span><span class="s3">&quot;@+id/start_project_button_main&quot; </span><span class="s2">/&gt; 
 
    &lt;</span><span class="s4">Button</span><span class="s2"> 
        </span><span class="s1">android:text=</span><span class="s3">&quot;@string/profile_button_label&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
        </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/main_to_profile_button&quot;</span><span class="s2"> 
        </span><span class="s1">android:onClick=</span><span class="s3">&quot;goToProfile&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_alignParentBottom=</span><span class="s3">&quot;true&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_alignParentStart=</span><span class="s3">&quot;true&quot;</span><span class="s2"> 
        </span><span class="s1">android:fontFamily=</span><span class="s3">&quot;sans-serif-medium&quot; </span><span class="s2">/&gt; 
 
 
&lt;/</span><span class="s4">RelativeLayout</span><span class="s2">&gt; 
</span></pre>
</body>
</html>